.Benifit-section {
    background: linear-gradient(135deg, #E6F7FF, #D9F3FF);
    padding: 50px;

/* }
.Benifit-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 30px;
} */

.Benifit-section card{
    display: flex;
    align-items: center;
    align-content: center;
}

/* .Benifit-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
   */
  .card-hover {
    transition: all 0.4s ease-in-out;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
  }
  
  .card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: black;
    margin-bottom: 40px;
    font-weight: 700;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #666;
  }
}