.spams{
    color:#3498db;
}

.favourite-card {
  transition: border 1s ease, transform 0.4s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.favourite-card:hover {
  border: 2px solid #3498db;
  transform: scale(1.03);
  cursor: pointer;
}
